<section class="row">
  <div class="col-md-1">
    <form class="sign-out" action="<%= session_url %>" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	    <input type="hidden" name="_method" value="DELETE">
	    <input type="submit" value="Log Out">
	  </form>
    <br><br>
    <p style="text-align: center;"><b>Welcome back, <%= current_user.username %>!</b></p>
  </div>
  <div id='content' class="col-md-7">
    <div id='organ'></div>
    <div id='recorder'></div>
    <br><br>
    <div id='user-tracks'></div>
    <br><hr>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-2" id='featured-tracks'></div>
  <div class="col-md-1"></div>
</section>
