// Place all the styles related to the Api/Tracks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#recent-tracks {
	margin-top: 30px;
}

#track-search-input {
	border: solid black 1px;
	border-radius: 3px;
	font-size: 16px;
	line-height: 30px;
	margin: 20px -20px 0px 40px;
	padding: 0px 10px;
	z-index: 1;
}

#track-search-icon {
	z-index: 2;
}

.jukebox-search-container {
	height: 700px;
}

.jukebox-container {
	padding-top: 30px;
}

.jukebox-container h3 {
	padding-left: 30px;
}

.track-player-container {
	margin: 20px;
	height: 160px;
	width: 220px;
	padding-top: 60px;
	background-image: url('../../images/boombox.png');
	background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: left top;
}

.track-player {
	padding-top: -8px;
	text-align: center;
}

.track-player h5 {
	max-height: 14px;
	color: #FFFFFF;
}

.track-player h6 {
	color: #FFFFFF;
	padding-top: 15px;
	margin-bottom: 9px;
}

.track-player-controls {
	margin-top: -2px;
	display: inline-block;
}
