/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_tree .
 *= require_self
*/

.error-msg {
	color: red;
	font-weight: bold;
	list-style: none;
}

#user-greeting {
  text-align: center;
}

body {
  background-color: #F8F8F8;
}

footer {
	padding: 50px;
	text-align: center;
}

.piano-img-container {
	background-color: #FFFFFF;
}

.piano-img {
	background-image: url('../images/organ.jpg');
	margin: auto;
	width: 100%;
	height: 670px;
	padding: 30px;
}

#splash-logo {
	margin-top: 40px;
}
