nav {
  background: #2f2f2f;
  background: rgba(0, 0, 0, 0.86);
  position: relative;
  height: 60px;
  width: 100%;
  margin-left: 0!important;
  margin-right: 0!important;
  white-space: nowrap;
}

.left-container, .right-container {
  height: 60px;
  line-height: 58px;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  width: 152px;
  z-index: 987;
}

.left-container {
  float: left;
}

.left-container a:hover, .right-container a:hover {
  text-decoration: none;
}

.right-container {
  float: right;
}

#logo-helper, .left-buffer {
  display: inline-block;
  width: 15%;
  height: 100%;
  vertical-align: middle;
}

.left-buffer {
  width: 10%;
}

#logo {
  height: 31px;
  margin: auto;
  vertical-align: middle;
}

#user-greeting {
  color: white;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: auto;
  padding-top: 22px;
  max-width: 200px;
}

.sign-out {
  float: left;
  margin: auto;
  position: relative;
  vertical-align: middle;
}

.sign-out-btn {
  font-weight: bold;
}
