.topbar {
    width: 100%;
    background: #2f2f2f;
    background: rgba(0, 0, 0, 0.86);
    height: 34px;
    line-height: 1
}
.topbar #user-greeting {
  color: white;
}
.topbar .logout-button {
  font-size: 18px;
}
.topbar input[type="text"] {
    transition: none;
    border: 1px solid #cbcbcb;
    font-size: 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    border-radius: 0;
    padding: 3px;
    margin: 5px 0 5px 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0
}
