// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-header {
	color: #F0F0F0;
  text-align: center;
}

input[type="text"].form-control, input[type="password"].form-control {
  font-size: 18px;
  padding: 20px;
}
